# Dictionary

In [31]:
dict1 ={
    "name":"Rahim",
    "age":20,
    "salary":10000
}

In [32]:
dict1

{'name': 'Rahim', 'age': 20, 'salary': 10000}

In [33]:
type(dict1)

dict

In [34]:
len(dict1)

3

In [35]:
dict1.keys()

dict_keys(['name', 'age', 'salary'])

In [36]:
dict1.values()

dict_values(['Rahim', 20, 10000])

In [37]:
dict1.items()

dict_items([('name', 'Rahim'), ('age', 20), ('salary', 10000)])

In [38]:
dict1['name']

'Rahim'

In [39]:
dict1['name']='Karim'

In [40]:
dict1

{'name': 'Karim', 'age': 20, 'salary': 10000}

In [41]:
dict1.get('age')

20

In [42]:
dict1.pop('salary')

10000

In [43]:
dict1

{'name': 'Karim', 'age': 20}

In [44]:
dict1['birthYear']=2005
dict1

{'name': 'Karim', 'age': 20, 'birthYear': 2005}

In [45]:
dict2 = dict1.copy()
dict2

{'name': 'Karim', 'age': 20, 'birthYear': 2005}

In [46]:
for x in dict1:
    print(x)

name
age
birthYear

In [47]:
for x in dict1.keys():
    print(x)

name
age
birthYear

In [48]:
for x in dict1.values():
    print(x)

Karim
20
2005

In [49]:
for x,y in dict1.items():
    print(x,y)

name Karim
age 20
birthYear 2005

In [50]:
students = {
    's1':{'name':'Sabiha'}
    ,
    's2':{'name':'Labiha'}
}

In [51]:
students['s1']

{'name': 'Sabiha'}

In [52]:
students['s1']['name']

'Sabiha'